---
layout: default
suppress_header: true
oneTrustTest: true
noindex: true
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - localized-home.css

---

%script{src: "https://cdn.cookielaw.org/scripttemplates/otSDKStub.js", type: "text/javascript", charset: "UTF-8", "data-domain-script": "f7036c5e-8753-4d82-8947-a0bef44606e5-test"}
%script{type: "text/javascript"}
  function OptanonWrapper() { }

.container.slp-container.u-padding-top-md
  This page is a test. For more information please ask the <a href="https://about.gitlab.com/handbook/marketing/inbound-marketing/digital-experience/">Digital Experience Team</a>
